
@{
    ViewData["Title"] = "Authenticating...";
}

@section HeaderSection
{
    <section id="hero" class="container">
        <header>
            <h2>
                @ViewData["Title"]
            </h2>
        </header>
        <p>
            We are validating your account and you will see your wallet in a few seconds.
        </p>
    </section>
}

<div class="wrapper">
    <div class="container" id="main">
        <div class="row ">
            <div class="col-12">
                <div class="alert alert-info">
                    Please wait a few seconds while we validate your login and take you to your Aptos wallet.
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        const fragment = window.location.hash.substring(1);
        const params = new URLSearchParams(fragment);
        const token = params.get('id_token');

        // Redirigir a una nueva URL con el token como parámetro de consulta
        if (token) {
          const newUrl = `${window.location.origin}/Auth/DeriveAccount?id_token=${token}`;
          window.location.href = newUrl;
        }
    </script>
}