@model Aptos.TransactionResponse
@{
    ViewData["Title"] = "TransactionSent";
}

<h1>Transaction with errors</h1>


Verify the transaction <a href="https://explorer.aptoslabs.com/txn/@Model.Hash?network=testnet">here</a>
