@model Aptos.TransactionResponse
@{
    ViewData["Title"] = "Transaction with errors";
}


@section HeaderSection
{
    <section id="hero" class="container">
        <header>
            <h2>
                @ViewData["Title"]
            </h2>
        </header>
        <p>
            There was an error in the transaction.
        </p>
    </section>
}

<div class="wrapper">
    <div class="container" id="main">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger">
                    There was an error in the transaction. Please try again later. <br />
                    Verify the transaction <a href="https://explorer.aptoslabs.com/txn/@Model.Hash?network=testnet">here</a>
                </div>
            </div>
        </div>
    </div>
</div>